<script type="text/javascript">
    RED.nodes.registerType('http10-request',{
        category: 'digit',
        color: "#ffffcc",
        defaults: {
            method: {value:"GET"},
            path: {value:"/"},
            name: {value:""},
            port: {value:"80"},
	    host: {value:""},
        },
        inputs: 1,
        outputs: 1,
        icon: "white-globe.svg",
        label: function() {
            return this.name||"http10-request";
        }
    });
</script>

<script type="text/html" data-template-name="http10-request">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-method"><i class="fa fa-tag"></i> Method</label>
        <input type="text" id="node-input-method" style="width: 65px">
    </div>
    <div class="form-row">
        <label for="node-input-host"><i class="fa fa-tag"></i> Host</label>
        <input type="text" id="node-input-host" style="width: 165px">
    </div>
    <div class="form-row">
        <label for="node-input-port"><i class="fa fa-tag"></i> Port</label>
        <input type="text" id="node-input-port" style="width: 65px">
    </div>
    <div class="form-row">
        <label for="node-input-path"><i class="fa fa-tag"></i> Path</label>
        <input type="text" id="node-input-path" style="width: 65px">
    </div>

</script>

<script type="text/html" data-help-name="http10-request">
    <p>An HTTP/1.0 client</p>
</script>
