<script type="text/javascript">
    RED.nodes.registerType('http10-out',{
        category: 'digit',
        color: "#ffffcc",
        defaults: {
            name: {value:""},
            code: {value:"200"}
        },
        inputs: 1,
        outputs: 0,
        icon: "white-globe.svg",
        label: function() {
            return this.name||"http10-out";
        }
    });
</script>

<script type="text/html" data-template-name="http10-out">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-code"><i class="fa fa-tag"></i> Status Code</label>
        <input type="text" id="node-input-code" style="width: 65px">
    </div>

</script>

<script type="text/html" data-help-name="http10-out">
    <p>An HTTP/1.0 server response</p>
</script>
