<script type="text/javascript">
    RED.nodes.registerType('http10-in',{
        category: 'digit',
        color: "#ffffcc",
        defaults: {
            name: {value:""},
            port: {value:""}
        },
        inputs: 0,
        outputs: 1,
        icon: "white-globe.svg",
        label: function() {
            return this.name||"http10-in";
        }
    });
</script>

<script type="text/html" data-template-name="http10-in">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-port"><i class="fa fa-tag"></i> Port</label>
        <input type="text" id="node-input-port" style="width: 65px">
    </div>

</script>

<script type="text/html" data-help-name="http10-in">
    <p>An HTTP server that accepts legacy HTTP/1.0 reqeusts</p>
</script>
